@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
  min-width: 1200px;
  min-height: 100%;
  margin: 0;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}


/* Хедер */

.page-header {
  position: relative;
  width: 1160px;
  margin: 0 auto;
  margin-top: 17px;
  color: #000000;
  background: linear-gradient(180deg, #ffffff 23px, #ffe17f 24px);
}

.header-logo {
  display: block;
  margin-left: 60px;
  margin-bottom: 26px;
  padding: 0;
  width: 145px;
  height: 36px;
}

.navigation {
 padding-left: 43px;
 padding-right: 35px;
}

.user-nav-list {
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
  list-style-type: none;
}

.user-nav-item {
  position: relative;
  padding: 0;
}

.user-nav-item:first-child {
  margin-right: 20px;
}

.user-nav-item:last-child {
  margin-left: 12px;
}
.item-compare {
  margin-left: auto;
}

.nav-form {
  position: relative;
}

.nav-form-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  display: none;
  padding: 8px 55px 8px 53px;
  font-family: "Rubik", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  background-color: transparent;
  border: 2px solid #000000;
  border-radius: 0px 20px 20px 0px;
  outline: none;
}

.nav-form-btn:hover {
  color: #ffffff;
  background-color: #000000;
}

.nav-form-btn:focus {
  border: 2px solid #af4fff;
}

.nav-form-btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
  border: 2px solid #000000;
}

.nav-search {
  width: 516px;
  padding: 10px 170px 10px 52px;
  font-family: "Rubik", Arial, sans-serif;
  font-size: 16px;
  line-height: 19px;
  background-color: #ffe17f;
  border: none;
  border-radius: 20px;
}

.nav-search::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.nav-search::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.nav-search:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.nav-form::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  width: 16px;
  height: 16px;
  background: url("../img/search.svg");
}

.nav-search:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.nav-search:hover::-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.nav-search:hover:-ms-input-placeholder{
  color: rgba(0, 0, 0, 0.6);
}

.nav-search:focus {
  outline: none;
  box-shadow: inset 0 0 0 2px #af4fff;
}

.nav-search:active {
  box-shadow: inset 0 0 0 2px #000000;
}

.nav-search:active + .nav-form-btn {
  display: block;
}


.user-nav-link {
  position: relative;
  padding: 10px 25px 10px 45px;
  max-width: 250px;
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: inherit;
  text-decoration: none;
  border-radius: 20px;
}

.link-out {
  padding: 10px 5px;
  color: rgba(0, 0, 0, 0.3);
}

.user-nav-link::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.link-user::before {
  left: 21px;
  width: 13px;
  height: 12px;

  background: url("../img/user.svg");
}

.link-compare {
  padding-left: 40px;
}

.link-compare::before {
  left: 21px;
  width: 10px;
  height: 12px;

  background: url("../img/compare.svg");
}

.link-basket::before {
  width: 16px;
  left: 18px;
  height: 14px;

  background: url("../img/basket.svg");
}

.user-basket {
  position: absolute;
  padding: 2px 0;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
  text-align: center;
  width: 21px;
  height: 21px;
  font-size: 14px;
  line-height: 17px;
  background-color: #ffffff;
  border-radius: 50%;
}

.user-nav-link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.user-nav-link:focus {
  box-shadow: inset 0 0 0 2px #af4fff;
}

.user-nav-link:focus:active {
  box-shadow: none;
}

.user-nav-link:active {
  opacity: 0.3;
  box-shadow: none;
}

.user-nav-link:hover::before {
  opacity: 0.6;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav-item {
  margin: 0;
  padding: 0;
  border-radius: 25px;
}

.nav-item:first-child {
  margin-right: auto;
  margin-left: 0;
}

.nav-item:last-child {
  margin-left: 58px;
  margin-right: 5px;
  text-align: right;
}

.nav-link {
  position: relative;
  display: block;
  padding: 14px 16px 15px;
  min-width: 140px;
  max-width: 300px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 25px;
}

.nav-link:not(.nav-link-catalog):hover::after {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 8px;
  left: 18px;
  right: 20px;
  background-color: #000000;
}

.nav-link-catalog::before {
  content: "";
  position: absolute;
  top: 0;
  right: -50px;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.nav-link-catalog:hover:after {
  content: "";
  position: absolute;
  top: 50%;
  right: -33px;
  width: 16px;
  height: 2px;
  background-color: #000000;
}

.nav-link-catalog:hover::before {
  border: 2px solid #000000;
  background-image: none;
}

.nav-link-catalog:hover + .subcatalog-wrap {
  display: flex;
}

.nav-link:focus {
  box-shadow: inset 0 0 0 2px #af4fff;
}

.nav-link:active {
  opacity: 0.3;
  box-shadow: none;
}

/* Subcatalog */

.subcatalog-wrap {
  display: none;
  padding-bottom: 32px;
  position: absolute;
  width: 100%;
  min-height: 150px;
  margin: 0;
  margin-left: -43px;
  padding: 0;
  padding-top: 30px;
  padding-left: 45px;
  padding-bottom: 45px;
  background-color: #ffe17f;
  z-index: 1;
}

.subcatalog {
  margin: 0;
  margin-right: 15px;
  padding: 0;
  min-width: 190px;
  list-style-type: none;
}

.subcatalog-item {
  margin-bottom: 6px;
}

.subcatalog-link {
  padding: 5px 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: inherit;
  text-decoration: none;
  border-radius: 20px;
}

.nav-item:focus-within .subcatalog-wrap{
  display: flex;
}

.subcatalog-link:hover {
  opacity: 0.6;
}

.subcatalog-link:focus {
  box-shadow: inset 0 0 0 2px #af4fff;
  opacity: 1;
}

.subcatalog-link:active {
  box-shadow: none;
  opacity: 0.3;
}

/*  Main */

.main-container {
  flex-grow: 1;
}

.title {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

/* Button */

.button {
  padding: 10px 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  color: #000000;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
}

/*  Слайдер */

.newsletter-container,
.modal-main,
.category,
.slider {
  width: 1160px;
  margin: 0 auto;
}

.slider {
  margin-bottom: 70px;
  background: linear-gradient(180deg, #ffe17f 150px, #ffffff 151px);
}

.slider-list {
  margin: 0;
  padding: 0;
}

.slider-img {
  display: block;
}

.slider-item {
  display: flex;
  margin: 0;
  padding: 0;
}

.slider-card {
  position: relative;
  width: 560px;
}

/* Кнопки слайдера */

.slider-controls {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;

}

.slider-button {
  margin: 0 10px;
  padding: 10px;
  width: 40px;
  height: 80px;
  background-color: transparent;
  background: no-repeat url("../img/arrow-slider.svg") 50% 50%;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
}

.slider-button:hover {
  opacity: 0.6;
}

.slider-button:focus{
  box-shadow: inset 0 0 0 2px #af4fff;
}

.slider-button:active {
  opacity: 0.3;
  box-shadow: none;
}

.slider-prev {
  transform: rotate(180deg);
}

.slider-description {
  position: relative;
  width: 560px;
  margin-left: 40px;
  z-index: 0;
}

.slider-number {
  position: absolute;
  display: flex;
  align-items: center;
  margin-right: 50px;
  max-width: 270px;
  height: 135px;
  top: 30px;
  right: 0;
  font-weight: 800;
  font-size: 180px;
  line-height: 30px;
  color: #ffffff;
  z-index: -1;
}

.slider-title {
  margin: 0;
  margin-bottom: 27px;
  padding-top: 123px;
}

.slider-text {
  margin: 0;
  margin-bottom: 36px;
}

.slider-description-btn {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.btn-slider {
  display: block;
  width: 220px;
  padding-top: 14px;
  padding-bottom: 16px;
  text-align: center;
  box-sizing: border-box;
}

.btn-slider::before {
  content: "";
  position: absolute;
  width: 220px;
  height: 8px;
  top: 49%;
  left: 0;
  transform: translateY(-50%);
  background: #ffe17f;
  z-index: -1;
}

.btn-slider:hover {
  background: #ffe17f;
}

.btn-slider:focus::before {
  background: #AF4FFF;
  outline: none;
}

.btn-slider:active {
  background: #ffe17f;

}

.btn-slider::before:active {
  background-color: inherit;
}

/* Пагинация слайдера */

.slider-pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  margin-right: 60px;
  margin-top: 5px;
  padding: 0;
  list-style-type: none;
}

.slider-pagination-item:not(:last-child) {
  margin-right: 22px;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.slider-pagination-button:hover {
  opacity: 0.6;
}

.slider-pagination-button:focus{
  border-color: #af4fff ;
  outline: none;
}

.slider-pagination-button:active {
  opacity: 0.3;
}

.slider-pagination-button-current {
  background-color: #000000;
}

.table-value {
  padding-bottom: 10px;
  min-width: 160px;
  font-size: 36px;
  color: #000000;
}

.table-description {
  min-width: 160px;
  font-size: 16px;
}

/* Каталог */

.category {
  margin-bottom: 68px;
}

.category-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.category-item {
  width: 160px;
  min-height: 253px;
}

.category-link {
  position: relative;
  text-decoration: none;
}

.category-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 160px;
  background-color: #ffe17f;
  background-repeat: no-repeat;
  background-position: center;
}

.category-virtual::before {
  background-image: url(../img/category/virtual-reality.svg);
}

.category-monopod::before {
  background-image: url(../img/category/monopod.svg);
  background-position: bottom center;
}

.category-camera::before {
  background-image: url(../img/category/action-camera.svg);
}

.category-fitness::before {
  background-image: url(../img/category/fitness-bracelet.svg);
}

.category-watch::before {
  background-image: url(../img/category/watch.svg);
}

.category-kvadrokopter::before {
  background-image: url(../img/category/kvadrokopter.svg);
}


.category-link:hover::before {
  background-color: #FFC700;
}

a:focus {
  outline: none;
}

.category-link:focus::before {
  box-shadow: inset 0 0 0 5px #AF4FFF;
}

.category-link:focus .category-title {
  color: #AF4FFF;
}

.category-link:active::before {
  background-color: #ffc700;
  box-shadow: none;
  fill-opacity: 0.3;
}

.category-link:active .category-title {
  color: #000000;
  opacity: 0.3;
}

.category-title {
  position: relative;
  top: 193px;
  margin: 0;
  margin-bottom: 33px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
}

/* Сервисы */

.service {
  margin-bottom: 90px;
  padding-bottom: 69px;
  background: linear-gradient(180deg, #ffffff 100px,#f0f0f0 101px);
}

.service-container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.service-list {
  margin: 0;
  padding: 0;
  padding-top: 80px;
  padding-bottom: 45px;
  width: 283px;
  border-right: 7px solid #000000;
  list-style-type: none;
}

.service-item {
  position: relative;
  z-index: 0;
  margin-bottom: 23px;
}

.btn-service {
  position: relative;
  width: 160px;
  background-color: transparent;
}

.btn-service::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 160px;
  height: 8px;
  background-color: #ffc700;
  z-index: -1;
}

.btn-service:hover {
  background-color: #FFC700;
}

.btn-service:focus::before {
  background-color: #AF4FFF;
}

.btn-service:active {
  padding-right: 120px;
  width: 280px;
  color: #ffe17f;
  background-color: #000000;
}

.service-content-list {
  margin: 0;
  margin-left: 116px;
  padding: 0;
  padding-top: 70px;
  padding-bottom: 75px;
  list-style-type: none;
}

.service-title {
  margin: 0;
  margin-bottom: 34px;
  line-height: 50px;
}

.service-content-item {
  position: relative;
  margin: 0;
}

.service-content-text {
  max-width: 500px;
  margin: 0;
  line-height: 30px;
}

.service-content-item::before {
  content: "";
  position: absolute;
}

.servis-contet-delivery::before {
  top: 15px;
  right: -240px;
  width: 136px;
  height: 164px;
  background: url("../img/tab-delivery.svg") no-repeat;
}

.servis-contet-warranty::before {
  top: -10px;
  right: -215px;
  width: 171px;
  height: 195px;
  background: url("../img/tab-warranty.svg") no-repeat;
}

.servis-contet-credit::before {
  top: -8px;
  right: -190px;
  width: 156px;
  height: 188px;
  background: url("../img/tab-credit.svg") no-repeat;
}

/* Модальное окно */

.modal-main{
  margin-bottom: 97px;
}

.button-modal {
  position: relative;
  width: 1160px;
  height: 100px;
  padding: 0 125px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  color: #000000;
  background: #f0f0f0;
  border: none;
  text-transform: uppercase;
}

.button-modal::before {
  content: "";
  position: absolute;
  width: 125px;
  height: 100px;
  top: 0;
  left: 0;
  box-sizing: border-box;
  background-color: #ffe17f;
  border: 5px solid transparent;
  border-right: 0;
  background: no-repeat url("../img/delivery-1.svg") center #ffe17f;
  z-index: 0;
}

.button-modal::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  transform: translateY(-50%);
  right: 31px;
  border-radius: 50%;
  background: rgba(220, 220, 220, 0.5);
  background-image: url("../img/info.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.button-modal:hover {
  background-color: #ebebeb;
  cursor: pointer;
}

.button-modal:hover::before {
  background-color: #ffc700;
}

.button-modal:hover::after {
  background-color: #dcdcdc;
}

.button-modal:focus {
  background-color: #f0f0f0;
  box-shadow: inset 0 0 0 5px #af4fff;
  outline: none;
}

.button-modal:focus::before {
  border: 5px solid #af4fff;
  border-right: 0;
}

.button-modal:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #ebebeb;
  box-shadow: none;
}

.button-modal:active::before {
  border: 5px solid transparent;
  border-right: 0;
}

.button-modal:active::before {
  color: #000000;
  opacity: 0.3;
}
.button-modal:active::after {
background-color: #dcdcdc;
}


/* О компании */

.about {
  display: flex;
  flex-wrap: wrap;
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.about p {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

}

.about-company {
  position: relative;
  margin-right: 20px;
  padding-right: 60px;
  width: 560px;
  box-sizing: border-box;
}

.company-title {
  margin: 0;
  margin-bottom: 45px;
  padding-top: 50px;
}

.company-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.company-text {
  margin: 0;
  margin-bottom: 75px;
}

.transport-list {
  margin: 0;
  margin-bottom: 58px;
  padding: 0;
  color: #000000;
}

.transport-item {
  position: relative;
  margin-bottom: 20px;
  padding-left: 35px;
  font-weight: 700;
  line-height: 20px;
  padding-left: 35px;
  list-style-type: none;
}

.transport-item::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: #FFC700;
  border-radius: 50%;
}



.btn-about {
  position: relative;
  display: block;
  width: 260px;
  padding-top: 14px;
  padding-bottom: 16px;
}

.btn-about::before {
  content: "";
  position: absolute;
  width: 260px;
  height: 8px;
  top: 49%;
  left: 0;
  transform: translateY(-50%);
  background: #ffe17f;
  z-index: -1;
}

.btn-about:hover {
  background: #FFE17F;
}

.btn-about:focus::before {
  background: #AF4FFF;
  outline: none;
}

.btn-about:active {
  background: #FFE17F;
  color: rgba(0, 0, 0, 0.3);
}

.contacts {
  position: relative;
  width: 560px;
  margin-left: auto;
  padding-right: 45px;
  box-sizing: border-box;
}

.contacts-title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 24px;

}

.contacts-address {
  margin: 0;
  margin-bottom: 30px;
  font-style: normal;
}

.contacts-phone {
  color: inherit;
}

.contacts-schedule {
  margin: 0;
  margin-bottom: 53px;
  padding: 0;
  list-style-type: none;
}

/* Рассылка  */

.newsletter {
  margin: 0;
  padding: 75px 0 130px;
  background-color: #f0f0f0;
}

.newsletter-wrapper {
  display: flex;
  margin-bottom: 60px;
}

.newsletter-item {
  width: 50%;
}

.newsletter-item + .newsletter-item {
  margin: 0;
  padding-left: 20px;
  padding-top: 10px;
}

.field {
  width: calc(50% + 20px);
  float: left;
  padding: 13px 40px 9px 0;
  font-family: "Rubik", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.5);
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
}

.field::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(68, 68, 68, 0.5);
}

.field::-moz-placeholder { /* Firefox 19+ */
  color: rgba(68, 68, 68, 0.5);
}

.field:-ms-input-placeholder { /* IE 10+ */
  color: rgba(68, 68, 68, 0.5);
}

.field:hover{
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}

.field:focus {
  background-color: #dcdcdc;
  border: none;
}

.field:active {
  border-bottom: 3px solid #000000;
}

.newsletter-button {
  width: 260px;
  min-height: 55px;
  text-align: center;
  border: 3px solid rgba(0, 0, 0, 0.1);
}

.newsletter-button:hover {
  color: #ffffff;
  background-color: #000000;
}

.newsletter-button:focus {
  background-color: #f0f0f0;
  border: 3px solid #af4fff;
}

.newsletter-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
  border: 3px solid #000000;

}

.newsletter-free {
  position: relative;
  margin-left: 130px;
  padding-left: 35px;
}

.newsletter-free::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 14px;
  height: 14px;
  background-image: url("../img/tick-big.svg");
}

/* Футер */

.page-footer {
  color: #ffffff;
  background-color: #444444;
}

.page-footer-container {
  width: 1160px;
  margin: 0 auto;
  padding: 62px 0 61px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 27px;
}

.footer-logo-img {
  display: block;
  width: 145px;
  height: 36px;
}

.footer-contacts {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 43px;
}

.footer-address {
  width: 25%;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
}

.contacts-address-text {
  margin: 0;
}

.footer-address:last-child {
  text-align: end;
}

.footer-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 50%;
  list-style-type: none;
}

.footer-nav-link {
  position: relative;
  padding: 14px 18px 15px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: inherit;
  letter-spacing: 0.2em;
  border-radius: 25px;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-nav-link:hover {
  color: #ffc700;
}

.footer-nav-link:hover::after {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 8px;
  left: 18px;
  right: 20px;
  background-color: #ffc700;
}

.footer-nav-link:focus {
  box-shadow: inset 0 0 0 2px #af4fff;
}

.footer-nav-link:active {
  color: #ffc700;
  opacity: 0.3;
  box-shadow: none;
}

.footer-phone {
  margin-right: -15px;
  display: inline-block;
  padding: 0 15px;
  line-height: 30px;
  color: #ffffff;
  text-decoration: none;
  border-radius: 25px;
}

.footer-phone:hover {
  color: #ffc700;
}

.footer-phone:focus {
  box-shadow: inset 0 0 0 2px #af4fff;
}

.footer-phone:active {
  color: #ffc700;
  opacity: 0.3;
  box-shadow: none;
}

.footer-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 125px 1fr 125px;
  align-items: center;
}

.footer-wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 80px;
  height: 7px;
  background-color: #ffc700;
}

.footer-social {
  grid-column: 2/3;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  position: relative;
  margin-right: 14px;
  width: 40px;
  height: 40px;
}

.footer-social-item:last-child{
  margin-right: 0;
}

.button-social {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.button-social:hover {
  background-color: #ffc700;
}

.button-social:focus {
  background-color: transparent;
  box-shadow:  0 0 0 5px #af4fff;
}

.button-social:active {
  background-color: #ffc700;
  box-shadow: none;
}

.footer-social-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  fill: #444444
}

.button-social:focus .footer-social-icon {
  fill: #ffffff;
}

.button-social:active .footer-social-icon {
  fill: #444444;
  opacity: 0.3;
}


.footer-academy {
  display: flex;
  margin: auto 0;
  padding: 10px;
  width: 115px;
  box-sizing: content-box;
  border-radius: 10px;
}

.footer-academy-img {
  fill: #ffc700;
}

.footer-academy:hover .footer-academy-img {
  fill: #ffffff;
}

.footer-academy:focus {
  box-shadow: inset 0 0 0 2px #af4fff;
}

.footer-academy:active {
  box-shadow: none;
}

.footer-academy:active .footer-academy-img {
  fill: rgba(255, 255, 255, 0.3);
}


/* Страница каталога */

.header-inner {
  padding-bottom: 36px;
}

/* Хедер каталога */

.inner-header {
  width: 1160px;
  margin: 0 auto;
  padding: 37px 0 43px 0;
}

.inner-header .title {
  margin-bottom: 18px;
  padding-left: 60px;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-left: 45px;
  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 10px;
}

.breadcrumbs-item::after {
  content: "";
  position: absolute;
  top: 13px;
  right: -6px;
  width: 4px;
  height: 7px;
  background-image: url("../img/nav-arrow.svg");
  opacity: 0.2;
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-link {
  display: block;
  padding: 5px 12px 6px 13px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
}

.breadcrumbs-link:hover {
 color: #000000;
}

.breadcrumbs-link:focus{
 box-shadow: inset 0 0 0 5px  #af4fff;
}

.breadcrumbs-link:focus span.breadcrumbs-link-text{
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.3;
  box-shadow: none;
}

/* Фильтры */

.catalog-products {
}

.catalog-products-wrap {
  position: relative;
  display: flex;
  width: 1160px;
  margin: 0 auto;
  color: #000000;
}

.catalog-filter {
  position: relative;
  width: 328px;
  padding-left: 60px;
  padding-right: 68px;
}

.filter-title-wrap {
  height: 70px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.filter-title {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-filter-title {
  position: relative;
  padding: 12px 0;
  margin-bottom: 13px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.catalog-filter-comtent {
  padding-top: 70px;
}

.catalog-filter-title::before {
  content: "";
  position: absolute;
  top: -1px;
  width: 200px;
  height: 2px;
  background-color: #000000;
}

/* Ползунок */

.range {
  max-width: 220px;
  padding: 12px 0;
}

.range-scale {
  position: relative;
  height: 2px;
  margin-bottom: 15px;
  background-color: #dcdcdc;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #000000;
}

.range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #ebebeb;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle:focus {
  border: 2px solid #af4fff;
  outline: none;
}

.range-toggle:active {
  background-color: #000000;
  border: 2px solid #000000;
}

.toggle-min {
  top: -9px;
  left: 0;
}

.toggle-max {
  top: -9px;
  right: -9px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: flex-start;
}

.catalog-filter-label {
  display: flex;
  margin-right: 15px;
  font-size: 15px;
  line-height: 18px;
  opacity: 0.3;
}

.range-input {
  max-width: 50px;
  padding: 0 2px;
  font: inherit;
  text-align: left;
  background-color: transparent;
  border: none;
  appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}


.catalog-filter-group {
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
  border: none;
}

.catalog-filter-list {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 10px;
}

/* Чекбоксы */

.control {
  position: relative;
  display: block;
  padding-left: 37px;
}

.control-mark {
  position: absolute;
  top: 5px;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.control-label {
  font-size: 16px;
  line-height: 19px;
}

.control-input:checked + .control-mark {
  border: 2px solid #000000;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  background-image: url("../img/tick.svg");
  content: "";
}

.control-input[type="checkbox"]:checked:focus + .control-mark::before {
  background-image: url("../img/tick-checked.svg");
}

.control:hover .control-input[type="checkbox"]:checked + .control-mark,
.control:hover .control-input[type="checkbox"]:checked ~ .control-label {
  opacity: 0.5;
}

.control-input[type="checkbox"]:focus + .control-mark {
  border: 2px solid #af4fff;
}

.control-input[type="checkbox"]:focus ~ .control-label {
  color: #af4fff;
}

.control:active .control-mark,
.control:active .control-label{
  opacity: 0.2;
}


/* Радиокнопка */

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  background-color: #000000;
  border-radius: 50%;
}

.control:hover .control-input[type="radio"]:checked + .control-mark,
.control:hover .control-input[type="radio"]:checked ~ .control-label {
  opacity: 0.5;
}

.control-input[type="radio"]:focus + .control-mark {
  border: 2px solid #af4fff;
}

.control-input[type="radio"]:checked:focus + .control-mark::before {
  background-color: #af4fff;
}

.control-input[type="radio"]:focus ~ .control-label {
  color: #af4fff;
}

/* Кнопка фильтра */

.button-filter {
  position: relative;

  width: 200px;
  background-color: transparent;

  z-index: 1;
}

.button-filter::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 8px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: #ffc700;
  z-index: -1;
}

.button-filter:hover {
  background-color: #ffc700;
}

.button-filter:focus::before {
  background-color: #af4fff;
}

.button-filter:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #ffc700;
}

/* Сортировка товара */

.catalog-right-column {
  width: 832px;
}

.sorting-container {
  display: flex;
  align-items: center;
  padding: 11px 0 8px 72px;
  height: 70px;
}

.sorting-type {
  margin-right: auto;
}

.sorting-title {
  display: inline-block;
  margin-right: 25px;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.select-control {
  padding: 9px 45px 13px 15px;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  background-color: transparent;
  background-image: url("../img/dropdown.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  border: 5px solid transparent;
  appearance: none;
  outline: none;
}

.select-control:hover {
  opacity: 0.6;
}

.select-control:focus {
  border: 5px solid #af4fff;
}

.select-control:active {
  opacity: 0.3;
  border: 5px solid transparent;
}

/* Кнопки сортировки */

.sorting-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

.sort-down {
  transform: rotate(180deg);
}

.sorting-btn svg {
  fill:rgba(0, 0, 0, 0.2);
}

.sorting-btn:hover svg {
  fill:rgba(0, 0, 0, 0.5);
}

.sorting-btn:focus {
  outline: 5px solid #af4fff;
}

.sorting-btn-current svg {
  fill: #000000;
}



/* Карточка товара */

.product-list {
  display: grid;
  grid-template-columns: 360px 360px;
  column-gap: 40px;
  row-gap: 44px;
  margin: 69px 0 44px 72px;
  padding: 0;
  list-style-type: none;
}

.product-card {
  position: relative;
}

.product-card-new::before {
  content: "";
  position: absolute;
  top: 27px;
  right: 27px;
  width: 60px;
  height: 60px;
  background-image: url("../img/new.svg");
  z-index: 1;
}

.product-card-link {
  position: relative;
  display: block;
  text-decoration: none;
}

.product-card-link::before {
  content: "";
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 380px;
  background-color: rgba(240, 240, 240, 0.8);
}

.product-card-btn-wrap {

}

.product-card-btn {
  position: relative;
  display: none;
  padding: 10px 15px;
  background-color: transparent;
  text-align: center;
}

.product-card-btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 8px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffc700;
  z-index: -1;
}

.product-card-description {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.product-card-link:hover::before {
  display: block;
}

.product-card-link:hover .product-card-btn {
  position: absolute;
  display: block;
  top: 170px;
  left: 50%;
  transform: translateX(-50%);
}

.product-card-btn:hover {
  background-color: #ffc700;
}

.product-card-btn:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #ffc700;
}

.product-card-link:focus .product-card-image {
  box-shadow:  0 0 0 5px #af4fff;
}

.product-card-link:focus .product-card-description .product-card-title,
.product-card-link:focus .product-card-description .product-card-price{
  color: #af4fff;
}

.product-card-image {
  display: block;
  margin-bottom: 33px;
  width: 360px;
  height: 380px;
  background-color: #e5e5e5;
}

.product-card-title {
  margin: 0;
  width: 75%;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000;
}

.product-card-price {
  line-height: 21px;
  text-align: right;
  color: #444444;
}

.product-list-show-more {
  margin-left: 72px;
  margin-bottom: 51px;
  width: 760px;
  min-height: 55px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  color: #000000;
  background-color: inherit;
  text-transform: uppercase;
  border: 3px solid rgba(0, 0, 0, 0.1);
}

.product-list-show-more:hover {
  border: 3px solid #000000;
}

.product-list-show-more:focus {
  border: 5px solid #AF4FFF;
  outline: none;
}

.product-list-show-more:active {
  border: 3px solid #000000;
  opacity: 0.3;
}

/* Пагинация */

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 77px 72px;
  padding: 0;
  background-color: #ebebeb;
  list-style-type: none;
}
.pagination-item:first-child {
  margin-right: 170px;
}

.pagination-item:last-child {
  margin-left: auto;
}

.pagination-link {
  display: block;
  padding: 27px 0 24px 0;
  font-size: 16px;
  line-height: 19px;
  color: rgba(68, 68, 68, 0.3);
  text-decoration: none;
}

.pagination-control {
  padding: 27px 30px 24px 30px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
}

.pagination-control:hover {
  background-color: #dcdcdc;
}

.pagination-control:focus {
  background-color: #f0f0f0;
  box-shadow: inset 0 0 0 5px #af4fff;

}

.pagination-control:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #dcdcdc;
  box-shadow: none;
}

.pagination-page {
  display: flex;
  padding: 10px 15px 10px;
  align-items: center;
  max-height: 38px;
}

.pagination-page:hover {
  color: #444444;
}

.pagination-page:focus {
  box-shadow: inset 0 0 0 5px #af4fff;
}

.pagination-page:active {
  color: rgba(68, 68, 68, 0.1);
}

/* Поповер корзина */

.popover {
  position: absolute;
  top: 40px;
  right: 50%;
  transform: translateX(50%);
  z-index: 1;
  width: 320px;
  min-height: 105px;
  font-family: "Rubik", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #000000;
  box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
  display: none;
}

.popover-open {
  display: block;
}

.popover::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 150px;
  width: 14px;
  height: 6px;
  background:url("../img/triangle.svg") ;
}

.popover-content {
   width: 100%;
}

.cart-items-list {
   margin: 0;
   padding: 20px;
   padding-right: 13px;
   list-style-type: none;
}

.cart-item {
  position: relative;
  display: flex;
}

.cart-item + .cart-item {
  margin-top: 20px;
  padding-top: 20px;
}

.cart-item + .cart-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: -20px;
  width: 320px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
}

.cart-item-link {
  display: flex;
  margin-right: 25px;
  color: inherit;
  text-decoration: none;
}

.cart-item-link:hover {
  opacity: 0.6;
}

.cart-item-link:focus .cart-img {
  box-shadow: 0 0 0 5px #af4fff;
}

.cart-item-link:focus .cart-item-title {
  color: #af4fff;
}

.cart-item-link:active {
  opacity: 0.3;
}

.cart-item-link:focus:active .cart-item-title {
  color: inherit;
}

.cart-item-link:focus:active .cart-img {
  box-shadow: none;
}


.cart-img {
  display: block;
  width: 41px;
  height: 43px;
  margin-right: 23px;
}

.cart-item-title {
  max-width: 180px;
  margin: 0;
  padding: 2px 20px 2px 0;
}

.cart-item-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  padding: 0;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  outline: none;
}

.cart-item-button svg {
  fill: #ffffff;
}

.cart-item-button:hover svg {
  fill:rgba(255, 255, 255, 0.6);
}

.cart-item-button:focus svg {
  fill: #ffffff;
}

.cart-item-button:focus {
  box-shadow: 0 0 0 2px #af4fff;
}

.cart-item-button:active svg {
  fill:rgba(255, 255, 255, 0.3);
}

.cart-item-button:active {
  box-shadow: none;
}

.cart-goods {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #1a1a1a;
}

.cart-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 50px;
  margin: 20px;
  color: #000;
  background: #ffffff;
  border: none;
}

.cart-btn:hover {
  background-color: #ffe17f;
}

.cart-btn:focus {
  box-shadow: 0 0 0 5px #af4fff;
}

.cart-btn:active {
  background-color: #ffe17f;
  color: rgba(0, 0, 0, 0.3);
}

.cart-btn:focus:active {
  box-shadow: none;
}

/* Модальное окно */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(240, 240, 240, 0.9);
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 62px 70px;
  background-color: #FFFFFF;
  border: 10px solid #000000;
  box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.modal-delivery {
  width: 920px;
}

.modal-title {
  margin: 0;
  margin-bottom: 67px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.modal-close-button {
  position: absolute;
  padding: 12px;
  top: 66px;
  right: 58px;
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border: none;
  background-image: url("../img/modal-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover {
  opacity: 0.6;
}

.modal-close-button:focus {
  border-radius: 50%;
  box-shadow: 0 0 0 5px #af4fff;
  opacity: 1;
  outline: none;
}

.modal-close-button:active {
  opacity: 0.3;
  box-shadow: none;
}


.form-label {
  margin-bottom: 14px;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.modal-field {
  position: relative;
  padding: 20px 50px 20px 20px;
  font-family: "Rubik", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: #f0f0f0;
  border: none;
  outline: none;
}

.modal-field-user {
  background-image: url("../img/modal-user.svg");
  background-repeat: no-repeat;
  background-position: 326px 24px;
}

.modal-field-mail {
  background-image: url("../img/modal-mail.svg");
  background-repeat: no-repeat;
  background-position: 326px 24px;
}

.modal-field::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(0, 0, 0, 0.6);
}

.modal-field::-moz-placeholder { /* Firefox 19+ */
  color: rgba(0, 0, 0, 0.6);
}

.modal-field:-ms-input-placeholder { /* IE 10+ */
  color: rgba(0, 0, 0, 0.6);
}

.modal-field:hover {
  background-color: #ebebeb;
}

.modal-field:focus {
  box-shadow: 0 0 0 5px #af4fff;
}

.modal-field:focus:active {
  background-color: transparent;
  box-shadow: none;
  box-shadow: inset 0 0 0 3px #000000;
}

.modal-field:active {
  background-color: transparent;
  box-shadow: none;
  box-shadow: inset 0 0 0 3px #000000;
}

.modal-field:active::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(0, 0, 0, 0.6);
}

.modal-field:active::-moz-placeholder { /* Firefox 19+ */
  color: rgba(0, 0, 0, 0.6);
}


.modal-field:active:-ms-input-placeholder { /* IE 10+ */
  color: rgba(0, 0, 0, 0.6);
}


input[type="email"].modal-field::-webkit-input-placeholder {
  color: #000000;
}

.field-text {
  padding: 5px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.text-red {
  color: #ff3d3d;
}

.field-group {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.delivery-form {
  display: grid;
  grid-template-columns: repeat(4, 160px);
  column-gap: 40px;
  row-gap: 10px;
}

.delivery-form-name {
  grid-column: 1/3;
}

.delivery-form-email {
  grid-column: 3/-1;
}

.delivery-form-description {
  grid-column: 1/4;
  grid-row: 2/3;
}

.delivery-form-number {
  grid-column: 4/5;
  grid-row: 2/3;
}

.form-label-icon {
  position: relative;
  padding-right: 16px;
}

.modal-info {
  position: absolute;
  width: 26px;
  height: 26px;
  margin-left: 10px;
  padding: 0;
  background: no-repeat url("../img/info.svg") center #ffe17f;
  border-radius: 50%;
  border: none;
}

.modal-info:hover .info-text{
  display: block;
}

.modal-info:focus {
  outline: none;
}

.info-text {
  position: absolute;
  display: none;
  top: 35px;
  left: -140px;
  padding: 19px;
  width: 200px;
  font-family: "Rubik", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  color: #ffffff;
  background-color: #000000;
  z-index: 1;
}

.info-text::before {
  position: absolute;
  content: "";
  top: -6px;
  right: 40px;
  width: 14px;
  height: 16px;
  background-image: url("../img/triangle.svg");
  background-repeat: no-repeat;
}

.delivery-number-wrap {
  position: relative;
  /* display: flex; */
}

.delivery-number-wrap .modal-field {
  position: static;
  width: 160px;
  padding: 20px 50px;
  text-align: center;
}

.delivery-number-wrap .modal-field::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000000;
}

.delivery-number-wrap .modal-field::-moz-placeholder { /* Firefox 19+ */
  color: #000000;
}

.delivery-number-wrap .modal-field:-ms-input-placeholder { /* IE 10+ */
  color: #000000;
}

.delivery-number-btn  {
  position: absolute;
  padding: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: transparent;
}

.number-btn-minus {
  top: 15px;
  left: 10px;
}

.number-btn-minus::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.6);
}

.number-btn-plus {
  top: 15px;
  right: 10px;
}

.number-btn-plus::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.6);
}

.number-btn-plus::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2px;
  height: 16px;
  background-color: rgba(0, 0, 0, 0.6);
}

.number-btn-minus:hover:before,
.number-btn-plus:hover:before,
.number-btn-plus:hover:after {
  background-color: #000000;
}

.delivery-number-btn:focus {
  border: 2px solid #af4fff;
}

.number-btn-minus:active:before,
.number-btn-plus:active:before,
.number-btn-plus:active:after {
  background-color: rgba(0, 0, 0, 0.1);
}

.delivery-number-btn:focus:active {
  border: 2px solid transparent;
}

.modal-btn {
  grid-column: 1/-1;
  justify-self: start;
  position: relative;
  margin-top: 35px;
  margin-bottom: 5px;
  display: block;
  width: 200px;
  background-color: transparent;
  text-align: center;
  z-index: 1;
}

.modal-btn::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 8px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: #ffc700;
  z-index: -1;
}

.modal-btn:hover {
  background-color: #ffc700;
}

.modal-btn:focus::before {
  background-color: #af4fff;
}

.modal-btn:focus:hover::before {
  background-color: transparent;
}

.modal-btn:active {
  color: rgba(0, 0, 0, 0.3);
  background: #ffc700;
}

.modal-btn:active::before {
  background-color: transparent;
}









