@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

body{
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #ffffff;
}

/* Хедер */

.page-header {
  color: #000000;
  background-color: #ffe17f;
}

.user-navigation-link {
  font-size: 16px;
  line-height: 19px;
  color: inherit;
  text-decoration: none;
}

.navigation-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}

/*  Слайдер */

.title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.button {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.table-value {
  font-size: 36px;
  color: #000000;
}

.table-description {
  font-size: 16px;
}

/* Каталог */

.category-link {
  display: inline-block;
  width: 160px;
  height: 160px;
  background-color: #ffe17f;
}

.category-title {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

/* Сервисы */

/* Модальное окно */

.button-modal {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
}

/* О компании */

.transport-item {
  font-weight: 700;
  line-height: 20px;
  color: #000000;
}

.contacts-title {
  font-weight: bold;
  font-size: 24px;
}

.contacts-address {
  font-style: normal;
}

.contacts-phone {
  color: inherit;
}

/* Рассылка  */

.newsletter {
  background-color: #f0f0f0;
}

/* Футер */

.page-footer {
  color: #ffffff;
  background-color: #444444;
}

.footer-address {
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
}

.footer-nav-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: inherit;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
}

/* Страница каталога */

/* Хедер каталога */

.breadcrumbs-link {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  opacity: 0.6;
  text-decoration: none;
}

/* Фильтры */

.catalog-products {
  color: #000000;
}

.filter-title {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-filter-title {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.catalog-filter-label {
  font-size: 15px;
  line-height: 18px;
  opacity: 0.3;
}

.control-label {
  font-size: 16px;
  line-height: 19px;
}

.sorting-label {
  font-size: 16px;
  line-height: 19px;
}

/* Карточка товара */

.product-card-image {
  background-color: #e5e5e5;
}

.product-card-title-link {
  color: inherit;
  text-decoration: none;
}

.product-card-title {
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.product-card-title-price {
  line-height: 21px;
  text-align: right;
  color: #444444;
}

.product-list-show-more {
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/* Пагинация */

.pagination-link {
  font-size: 16px;
  line-height: 19px;
  color: #444444;
  text-decoration: none;
  opacity: 0.3;
}

.pagination-label{
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
}




