@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

li:not(.transport-item) {
  list-style-type: none;
}

/* Хедер */

.page-header {
  width: 1160px;
  margin: 0 auto;
  margin-top: 40px;
  color: #000000;
  background-color: #ffe17f;
}

.header-logo {
  display: block;
  position: absolute;
  top: 17px;
  margin-left: 60px;
}

.navigation {
  display: flex;
  flex-direction: column;
}

.user-navigation-list {
  display: flex;
  margin: 0;
  margin-top: 49px;
  padding: 0;
}

.navigation-list {
  display: flex;
  margin: 0;
  margin-left: 60px;
  padding: 0;
}

.user-navigation-link {
  font-size: 16px;
  line-height: 19px;
  color: inherit;
  text-decoration: none;
}

.navigation-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}

/*  Main */

.main-container {
  flex-grow: 1;
}

.title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.button {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

/*  Слайдер */

.newsletter-container,
.modal,
.category,
.slider {
  width: 1160px;
  margin: 0 auto;
}

.slider-list {
  margin: 0;
  padding: 0;
}

.slider-item {
  display: flex;
  margin: 0;
  padding: 0;
}

.slider-card {
  width: 560px;
  outline: 1px solid green;
}

.slider-description {
  width: 560;
  margin-left: 40px;
  outline: 1px solid green;
}


.table-value {
  font-size: 36px;
  color: #000000;
}

.table-description {
  font-size: 16px;
}

/* Каталог */

.category-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  outline: 1px solid green;
}

.category-item {
  width: 160px;
}

.category-link {
  text-decoration: none;
}

.category-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  background-color: #ffe17f;
}

.category-title {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
}

/* Сервисы */

.service {
  background-color: #f0f0f0;
}

.service-container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.service-list {
  width: 280px;
}

.service-content {
  max-width: 500px;
}

/* Модальное окно */

.button-modal {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
}

/* О компании */

.about {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.about-company {
  width: 560px;
}

.transport-item {
  font-weight: 700;
  line-height: 20px;
  color: #000000;
}

.contacts {
  width: 560px;
  margin-left: auto;
}

.contacts-title {
  font-weight: bold;
  font-size: 24px;
}

.contacts-address {
  font-style: normal;
}

.contacts-phone {
  color: inherit;
}

/* Рассылка  */

.newsletter {
  background-color: #f0f0f0;
}

.newsletter-wrapper {
  display: flex;
  justify-content: space-between;
}

.newsletter-item {
  width: 560px;
}

.newsletter-form {
  display: flex;
  align-items: baseline;

  outline: 1px solid green;
}

.field {
  width: 560px;
}

.newsletter-button {
  width: 260px;
  height: 55px;
}

.newsletter-free {
  width: 130px;
  margin-left: auto;
}


/* Футер */

.page-footer {
  color: #ffffff;
  background-color: #444444;
}

.page-footer-container {
  width: 1160px;
  margin: 0 auto;
}

.footer-contacts {
  display: flex;
  justify-content: space-between;
}

.footer-address {
  width: 240px;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  outline: 1px solid green;
}

.footer-address:last-child {
  text-align: end;
  vertical-align: middle;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 458px;
}

.footer-nav-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: inherit;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-phone {
  line-height: 30px;
  color: #ffffff;
  text-decoration: none;
}

.footer-wrapper {
  display: flex;
  justify-content: flex-end;
}

.footer-social-list {
  display: flex;
}

.footer-academy {
  display: block;
  width: 115px;
  margin-left: 390px;
}


/* Страница каталога */

/* Хедер каталога */

.inner-header {
  width: 1160px;
  margin: 0 auto;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  opacity: 0.6;
  text-decoration: none;
}

/* Фильтры */

.catalog-products {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  color: #000000;
}

.catalog-filter {
  width: 200px;
  padding-left: 60px;
  padding-right: 68px;
  outline: 1px solid red;
}

.filter-title {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-filter-title {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.catalog-filter-label {
  font-size: 15px;
  line-height: 18px;
  opacity: 0.3;
}

.control-label {
  font-size: 16px;
  line-height: 19px;
}

.sorting-label {
  font-size: 16px;
  line-height: 19px;
}

/* Сортировка товара */

.catalog-right-column {
  width: 832px;
  outline: 1px solid red;
}

.sorting-title {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/* Карточка товара */

.product-card-image {
  background-color: #e5e5e5;
}

.product-card-title-link {
  color: inherit;
  text-decoration: none;
}

.product-card-title {
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.product-card-title-price {
  line-height: 21px;
  text-align: right;
  color: #444444;
}

.product-list-show-more {
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/* Пагинация */

.pagination-link {
  font-size: 16px;
  line-height: 19px;
  color: #444444;
  text-decoration: none;
  opacity: 0.3;
}

.pagination-label{
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
}




